body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
  }

  header {
  background-color: #004b8d;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #0061c0;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: 500;
}

nav a:hover {
  background-color: #111112;
  transform: scale(1.05);
}

.container {
  flex: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  padding: 20rem;
}

  .search-bar {
    margin-bottom: 5rem;
  }

  .search-bar input {
    width: 101%;
    padding: 1rem;
    margin: 30px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute;
  }

  .carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
  }

  .carousel-button {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5rem;
    color: #004b8d;
    z-index: 1;
  }

  .carousel-container {
    overflow:auto;
    width: 100%;
    max-width: 5000px;
  }

  .carousel {
    display: flex;
    gap: 2rem;
    position: sticky;
    transition: transform 0s ease-in-out;
  }

  .tool-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    width: 200px;
    min-width: 200px;
    text-align: center;
  }

  .tool-card img {
    width: 64px;
    height: 64px;
    margin-bottom: 0.5rem;
  }

  .tool-card h3 {
    margin-bottom: 0.5rem;
  }

  .tool-card button {
    background: #004b8d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
  }

  footer {
    background: #ccc;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 40px;
    z-index: 20;
    position: relative;
  }
  
  .carousel-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .carousel-container {
    overflow: hidden;
    width: 800px;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .tool-card {
    width: 200px;
    margin-right: 10px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .imagem-lateral {
    position: absolute;
    right: 0;
    top: 1;
    height: 90vh;
    width: 750px;
    object-fit: cover;
    opacity: 1;
  }
  